.button{
    background-color: #0077FF;
    padding: 0.625rem 1.25rem;
    border: none;
    outline: none;
    display: flex;
    align-items: center;
    margin: 0 auto;
    color: white;
    font-size: 1.125rem;
    font-weight: bold;
    border-radius: 3.125rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover{
    background-color: #014a9c;

}

.arrow{
    margin-left: 1.25rem;
}